apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: nodeshards.shard.volcano.sh
spec:
  group: shard.volcano.sh
  names:
    kind: NodeShard
    listKind: NodeShardList
    plural: nodeshards
    shortNames:
    - nsh
    singular: nodeshard
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              nodesDesired:
                items:
                  type: string
                type: array
            required:
            - nodesDesired
            type: object
          status:
            properties:
              lastUpdateTime:
                format: date-time
                type: string
              nodesInUse:
                items:
                  type: string
                type: array
              nodesToAdd:
                items:
                  type: string
                type: array
              nodesToRemove:
                items:
                  type: string
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
