# this config file contains all config fields with comments
kind: Cluster
apiVersion: kind.sigs.k8s.io/v1alpha3
# 1 control plane node and 3 workers
nodes:
  # the control plane node config
  - role: control-plane
  # the three workers
  - role: worker
  - role: worker
  - role: worker
  - role: worker
