---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: podgroups.scheduling.volcano.sh
spec:
  group: scheduling.volcano.sh
  names:
    kind: PodGroup
    listKind: PodGroupList
    plural: podgroups
    shortNames:
    - pg
    - podgroup-v1beta1
    singular: podgroup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: STATUS
      type: string
    - jsonPath: .spec.minMember
      name: minMember
      type: integer
    - jsonPath: .status.running
      name: RUNNINGS
      type: integer
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    - jsonPath: .spec.queue
      name: QUEUE
      priority: 1
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              minMember:
                format: int32
                minimum: 0
                type: integer
              minResources:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                type: object
              minTaskMember:
                additionalProperties:
                  format: int32
                  type: integer
                type: object
              networkTopology:
                properties:
                  highestTierAllowed:
                    minimum: 0
                    type: integer
                  highestTierName:
                    maxLength: 253
                    type: string
                  mode:
                    default: hard
                    enum:
                    - hard
                    - soft
                    type: string
                type: object
              priorityClassName:
                maxLength: 253
                type: string
              queue:
                default: default
                maxLength: 253
                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                type: string
              subGroupPolicy:
                items:
                  properties:
                    labelSelector:
                      properties:
                        matchExpressions:
                          items:
                            properties:
                              key:
                                type: string
                              operator:
                                type: string
                              values:
                                items:
                                  type: string
                                type: array
                                x-kubernetes-list-type: atomic
                            required:
                            - key
                            - operator
                            type: object
                          type: array
                          x-kubernetes-list-type: atomic
                        matchLabels:
                          additionalProperties:
                            type: string
                          type: object
                      type: object
                      x-kubernetes-map-type: atomic
                    matchLabelKeys:
                      items:
                        type: string
                      type: array
                      x-kubernetes-list-type: atomic
                    minSubGroups:
                      default: 0
                      format: int32
                      minimum: 0
                      type: integer
                    name:
                      maxLength: 253
                      type: string
                    networkTopology:
                      properties:
                        highestTierAllowed:
                          minimum: 0
                          type: integer
                        highestTierName:
                          maxLength: 253
                          type: string
                        mode:
                          default: hard
                          enum:
                          - hard
                          - soft
                          type: string
                      type: object
                    subGroupSize:
                      default: 1
                      format: int32
                      minimum: 1
                      type: integer
                  type: object
                type: array
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    transitionID:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
              failed:
                format: int32
                minimum: 0
                type: integer
              phase:
                enum:
                - Pending
                - Running
                - Unknown
                - Inqueue
                - Completed
                type: string
              running:
                format: int32
                minimum: 0
                type: integer
              succeeded:
                format: int32
                minimum: 0
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
